.title {
    text-align: center;
    color: rgba(11, 11, 100, 0.947);
    font-family: fantasy;
}
.card {
    width: 200px;
    height: 280px; /* Mengurangi tinggi kotak */
    border-radius: 12px;
    padding: 12px 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#root {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
}

.card img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.card h3 {
    margin: 10px 0;
}

.card .detail-box {
    padding: 8px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    text-align: left;
    width: 100%;
    border-radius: 0 0 12px 12px;
    display: none; 
}

.detail-box p {
    margin: 4px 0;
    font-size: 14px;
    color: #555;
}

.detail-box a {
    color: #00c3ffef;
    text-decoration: none;
}

.detail-box a:hover {
    text-decoration: underline;
}

.btn {
    margin-top: auto; 
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: #160753;
    color: rgb(251, 255, 141);
    font-family: fantasy;
    cursor: pointer;
}

.btn:active {
    background-color: #c21d00;
}

@media (max-width: 600px) {
    .card {
        width: 100%;
        height: auto;
    }

    .card img {
        width: 100px;
        height: 100px;
    }

    .btn {
        width: 100%;
        padding: 10px;
    }
}
